<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale="> 
    </head> 
    <body style="margin-top:20;font-family:arial;line-height:10px"> 
        <p>{{userName}} 様、</p><br>
        <p>大変お世話になっております。</p>
        <p>今回、{{userName}} 様には、当サービスの {{organizationName}} 組織にご参加いただきたく存じます。</p><br>
        <p>参加するために、以下のリンクをクリックしてください。</p> 
        <p>
            <a href="{{url}}" style="display:inline-block;padding:10px;background:#00838f;text-decoration:none;color:#ffffff">参加する</a> 
        </p> <br>
        <p>アカウントをお持ちでない方は、必要な情報を入力し、登録してください。登録が完了すると、アカウントが作成され、アクセスできるようになります。</p> <br>
        <p>※ 疑問、不明点につきましては、いつでもサポートチームまでご連絡ください。</p> 
        <p>※ 何卒、よろしくお願い申し上げます。</p><br>
        <p>サンファームサービスカスタマーサポート</p> 
    </body>
</html>