<html lang='vi'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body style='margin-top:20;font-family:arial;line-height:1.6'>
    <p>Kính gửi quý vị {{userName}},</p><br />
    <p>Chúng tôi rất trân trọng sự hỗ trợ của quý vị.</p>
    <p>Lần này, chúng tôi muốn mời quý vị tham gia vào gia phả {{clanName}} của dịch vụ của chúng tôi.</p><br />
    <p>Để tham gia, vui lòng nhấp vào liên kết dưới đây.</p>
    <p>
      <a
        href='{{url}}'
        style='display:inline-block;padding:10px;background:#00838f;text-decoration:none;color:#ffffff'
      >Tham gia</a>
    </p>
    <br />
    <p>Nếu quý vị chưa có tài khoản, vui lòng nhập thông tin cần thiết và đăng ký. Sau khi đăng ký hoàn tất, tài khoản
      sẽ được tạo và quý vị có thể truy cập.</p>
    <br />
    <p>※ Nếu có bất kỳ thắc mắc nào, xin vui lòng liên hệ đến đội ngũ hỗ trợ của chúng tôi.</p>
    <p>※ Xin chân thành cảm ơn.</p><br />
    <p>Hỗ trợ khách hàng dịch vụ Genealogy</p>
  </body>
</html>