<!DOCTYPE html> 
<html lang="ja"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head> 
    <body style="margin-top:20px;font-family:arial;line-height:1.5"> 
        <p>Mã xác thực: {{password}}</p> <br>
        <p>Vui lòng nhập mã xác thực trên và đăng nhập.</p> 
        <p>Mã này có hiệu lực trong vòng 10 phút sau khi phát hành. Nếu mã đã hết hạn, vui lòng thực hiện gửi lại mã xác thực từ trang web.</p><br>
        <p>Nếu bạn không nhận được email này từ chúng tôi, xin vui lòng bỏ qua.</p><br>
        <p>※ Email này chỉ được gửi đi, không thể trả lời.</p> 
        <p>※ Nếu có bất kỳ thắc mắc nào, vui lòng liên hệ qua trang web của chúng tôi.</p> 

    </body> 
</html>
