<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale="> 
    </head> 
    <body style="margin-top:20;font-family:arial;line-height:10px"> 
        <p>認証コード：{{password}}</p> <br>
        <p>上記の認証コードを入力し、ログインしてください。</p> 
        <p>コードは発行後10分間有効です。有効期限が切れた場合は、再度ウェブサイトから認証コード送信を行なってください。</p><br>
        <p>本メールにお心当たりがない場合は、誠に恐れ入りますが破棄していただくようお願いいたします。</p><br>
        <p>※本メールは配信専用です。ご質問・ご返信いただいてもお答えできません。</p> 
        <p>※ご不明点等は、弊社サイトよりお問い合わせください。</p> 

    </body> 
</html>